<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rental Stage</title>
    <meta name="author" content="Lahiru de Alwis">
    <meta name="description" content="<page description>">

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
	  <% include ./partials/navbar %>
	  <div class="container" style="padding-top: 85px">
	  	

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%=property.title%>
                    
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                

                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> Created: <%=property.createdAt.toDateString()%></p>

               

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead"><%=property.description%></p>
                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <% if(property.status=="available"){ %>
                       <h4>Requests</h4>
                        <table class="table-condensed">
                            <%requests.forEach(function(request){%>
                            <tr><td><%=request.requester_name%> has requested to rent this property</td><td><a class="btn btn-default" href="/property/reserve/<%=request._id%>"><span class="glyphicon glyphicon-ok"></span></a></td></tr>
                            <% }); %>
                        </table>
                     <% } else{ %>  
                       <h1>This property is reserved</h1>
                    <% } %>

                    
                      
                </div>

                <hr>

                <!-- Posted Comments -->
                <h3>Comments</h3>
                <%if (comments) { %>
                  <% comments.forEach(function(comment) { %>
                    <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        <%=comment.text%>
                    </div>
                    </div>
                  <% }); %>
                <% } else{ %>  
                   <h4>No comments</h4>
                   <p>Hey terra!</p>
                <% } %>


                
                    
                
                

                

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4" style="padding-top: 30px">

                <!-- Blog Categories Well -->
                <div class="well" >
                    <h4>Details</h4>
                    <div class="row">
                      <table class="table table-condensed">
                        <tbody>
                          <tr>
                            <td>Address:</td>
                            <td><%=property.address%></td>
                          </tr>
                          <tr>
                            <td>District:</td>
                            <td><%=property.district%></td>
                          </tr>
                          <tr>
                            <td>Monthly rental(LKR):</td>
                            <td><%=property.rent%></td>
                          </tr>
                          <tr>
                            <td>Rating:</td>
                            <td>Detail</td>
                          </tr>
                        </tbody>
                      </table>    
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Additional data</h4>

                    
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Your Website 2014</p>
                </div>
            </div>
        </footer>

    
	  </div>
  </body>
</html>
