<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rental Stage</title>
    <meta name="author" content="Lahiru de Alwis">
    <meta name="description" content="<page description>">

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
	  <% include ./partials/navbar %>
	  <div class="container" style="padding-top: 85px">
	  	

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%=property.title%>
                    <small>by <a href="#"><%=property.owner_name%></a>
                    </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                

                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> Created: <%=property.createdAt.toDateString()%></p>

               

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead"><%=property.description%></p>
                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Review</h4>
                    <hr>
                    
                
                      
                    
                    <form role="form" action="/property/review/<%=property._id%>" method="Post">
                        <div class="form-group">
                            <h5>Rating</h5>
                            
                            <input name="rating" type="number" id="rating_val" value="0" min="0" max="10">
                            <h5>Leave a Comment:</h5>

                            <textarea class="form-control" rows="3" name="text"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <%if (comments) { %>
                  <% comments.forEach(function(comment) { %>
                    <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><%=comment.commenter_name%>
                            <small><%=comment.createdAt.toDateString()%></small>
                        </h4>
                        <%=comment.text%>
                    </div>
                    </div>
                  <% }); %>
                <% } else{ %>  
                   <h4>No comments</h4>
                <% } %>
           </div>

           


            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4" style="padding-top: 30px" >

                <!-- Blog Categories Well -->
                <div  class="well" >
                    <h4>Details</h4>
                    <div class="row">
                      <table class="table table-condensed">
                        <tbody>
                          <tr>
                            <td>Address:</td>
                            <td><%=property.address%></td>
                          </tr>
                          <tr>
                            <td>District:</td>
                            <td><%=property.district%></td>
                          </tr>
                          <tr>
                            <td>Monthly rental(LKR):</td>
                            <td><%=property.rent%></td>
                          </tr>
                          <tr>
                            <td>Rating:</td>
                            <td><%=property.rating%></td>
                          </tr>
                        </tbody>
                      </table>    
                    </div>
                    <!-- /.row -->
                </div>

                <% if(rent_requests.length!=0){ %>
                   <h1>You have submitted a request</h1>
                 <% } else{ %>  
                    <!-- Side Widget Well -->
                <div class="well">
                    <h4>Submit a request</h4>
                    <p>You can send an optional message to the owner of this property with this request</p>
                    <form action="/property/request/<%=property._id%>" method="post">
                      <textarea name="message" id="" cols="30" rows="5"></textarea>
                      <button type="submit">Request</button>
                    </form>
                    
                </div>
                <% } %>
                

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Your Website 2014</p>
                </div>
            </div>
        </footer>

    
	  </div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/javascripts/bootstrap.min.js"></script>


      <script type="text/javascript">
          // Starrr plugin (https://github.com/dobtco/starrr)
var __slice = [].slice;

(function($, window) {
  var Starrr;

  Starrr = (function() {
    Starrr.prototype.defaults = {
      rating: void 0,
      numStars: 5,
      change: function(e, value) {}
    };

    function Starrr($el, options) {
      var i, _, _ref,
        _this = this;

      this.options = $.extend({}, this.defaults, options);
      this.$el = $el;
      _ref = this.defaults;
      for (i in _ref) {
        _ = _ref[i];
        if (this.$el.data(i) != null) {
          this.options[i] = this.$el.data(i);
        }
      }
      this.createStars();
      this.syncRating();
      this.$el.on('mouseover.starrr', 'span', function(e) {
        return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
      });
      this.$el.on('mouseout.starrr', function() {
        return _this.syncRating();
      });
      this.$el.on('click.starrr', 'span', function(e) {

        return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
      });
      this.$el.on('starrr:change', this.options.change);
    }

    Starrr.prototype.createStars = function() {
      var _i, _ref, _results;

      _results = [];
      for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
        _results.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"));
      }
      return _results;
    };

    Starrr.prototype.setRating = function(rating) {
      if (this.options.rating === rating) {
        rating = void 0;
      }
      this.options.rating = rating;
      this.syncRating();
      return this.$el.trigger('starrr:change', rating);
    };

    Starrr.prototype.syncRating = function(rating) {
      var i, _i, _j, _ref;

      rating || (rating = this.options.rating);
      if (rating) {
        for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
          this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
        }
      }
      if (rating && rating < 5) {
        for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
          this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
        }
      }
      if (!rating) {
        return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
      }
    };

    return Starrr;

  })();
  return $.fn.extend({
    starrr: function() {
      var args, option;

      option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
      return this.each(function() {
        var data;

        data = $(this).data('star-rating');
        if (!data) {
          $(this).data('star-rating', (data = new Starrr($(this), option)));
        }
        if (typeof option === 'string') {
          return data[option].apply(data, args);
        }
      });
    }
  });
})(window.jQuery, window);

$(function() {
  return $(".starrr").starrr();
});

$( document ).ready(function() {
      
  $('#stars').on('starrr:change', function(e, value){
    $('#count').html(value);
    $('#rating_val').html(value);

  });

  
  $('#stars-existing').on('starrr:change', function(e, value){
    $('#count-existing').html(value);
  });
});
      </script>
  </body>
</html>
