<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Rental Stage</title>

    <meta name="author" content="Lahiru de Alwis">
    <meta name="description" content="<page description>">

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
	  <% include ./partials/navbar %>
	  <div class="container" style="padding-top: 85px">
    <h1 class="page-header">User Profile
      </h1>
	  	<div class="row">
        <div class="col-md-3">
 
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td><%= user.first_name%> <%=user.last_name%></td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><%= user.local.email %></td>
                  </tr>
                  <tr>
                    <td>Adress</td>
                    <td><%= user.address %></td>
                  </tr>
                  <tr>
                    <td>NIC</td>
                    <td><%= user.nic %></td>
                  </tr>
                  <tr>
                    <td>Conatct number</td>
                    <td><%= user.contact_no%></td>
                  </tr>
                </tbody>
              </table>
            </div>
             
            
          </div>
        </div>  
      </div>
	  </div>
  </body>
</html>